In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
pitch_war_raw_df = pd.read_csv("war_daily_pitch.csv")
pitch_war_raw_df.head()

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,G,GS,...,pyth_exponent,waa_win_perc,WAA,WAA_adj,oppRpG_rep,pyth_exponent_rep,waa_win_perc_rep,WAR_rep,ERA_plus,ER_lg
0,David Aardsma,22.0,430911.0,aardsda01,2004,SFG,1,NL,11,0,...,1.902,0.4803,-0.2167,-0.0298,4.75633,1.895,0.4914,0.0942,66.675000,5.334
1,David Aardsma,24.0,430911.0,aardsda01,2006,CHC,1,NL,45,0,...,1.909,0.5060,0.2700,-0.1301,4.97303,1.919,0.4896,0.4682,114.295833,27.431
2,David Aardsma,25.0,430911.0,aardsda01,2007,CHW,1,AL,25,0,...,1.924,0.4781,-0.5475,-0.1994,5.00394,1.920,0.4859,0.3459,74.086956,17.040
3,David Aardsma,26.0,430911.0,aardsda01,2008,BOS,1,AL,47,0,...,1.904,0.4836,-0.7708,-0.0631,4.81624,1.901,0.4888,0.5205,83.796667,25.139
4,David Aardsma,27.0,430911.0,aardsda01,2009,SEA,1,AL,73,0,...,1.899,0.5105,0.7665,0.1581,4.90529,1.911,0.4894,0.7666,168.910000,33.782

In [7]:
CleanPitch_df = pitch_war_raw_df[["name_common","age","mlb_ID", "player_ID","year_ID","stint_ID","team_ID","lg_ID","salary","ERA_plus","WAR"]]
CleanPitch_df.head()

,name_common,age,mlb_ID,player_ID,year_ID,stint_ID,team_ID,lg_ID,salary,ERA_plus,WAR
0,David Aardsma,22.0,430911.0,aardsda01,2004,1,SFG,NL,300000.0,66.675000,-0.15
1,David Aardsma,24.0,430911.0,aardsda01,2006,1,CHC,NL,NaN,114.295833,0.61
2,David Aardsma,25.0,430911.0,aardsda01,2007,1,CHW,AL,387500.0,74.086956,-0.40
3,David Aardsma,26.0,430911.0,aardsda01,2008,1,BOS,AL,403250.0,83.796667,-0.31
4,David Aardsma,27.0,430911.0,aardsda01,2009,1,SEA,AL,419000.0,168.910000,1.69

In [9]:
CleanPitch_df = CleanPitch_df[CleanPitch_df["year_ID"]>1975]
CleanPitch_df = CleanPitch_df[CleanPitch_df["year_ID"]<2017]
CleanPitch_df

,name_common,age,mlb_ID,player_ID,year_ID,stint_ID,team_ID,lg_ID,salary,ERA_plus,WAR
0,David Aardsma,22.0,430911.0,aardsda01,2004,1,SFG,NL,300000.0,66.675000,-0.15
1,David Aardsma,24.0,430911.0,aardsda01,2006,1,CHC,NL,NaN,114.295833,0.61
2,David Aardsma,25.0,430911.0,aardsda01,2007,1,CHW,AL,387500.0,74.086956,-0.40
3,David Aardsma,26.0,430911.0,aardsda01,2008,1,BOS,AL,403250.0,83.796667,-0.31
4,David Aardsma,27.0,430911.0,aardsda01,2009,1,SEA,AL,419000.0,168.910000,1.69
5,David Aardsma,28.0,430911.0,aardsda01,2010,1,SEA,AL,2750000.0,115.168421,0.68
6,David Aardsma,30.0,430911.0,aardsda01,2012,1,NYY,AL,500000.0,63.800000,-0.02
7,David Aardsma,31.0,430911.0,aardsda01,2013,1,NYM,NL,NaN,83.278947,-0.13
8,David Aardsma,33.0,430911.0,aardsda01,2015,1,ATL,NL,NaN,82.687500,-0.15
9,Don Aase,22.0,110003.0,aasedo01,1977,1,BOS,AL,NaN,145.484375,2.38
10,Don Aase,23.0,110003.0,aasedo01,1978,1,CAL,AL,45000.0,90.222500,1.51
11,Don Aase,24.0,110003.0,aasedo01,1979,1,CAL,AL,NaN,84.654545,1.43
12,Don Aase,25.0,110003.0,aasedo01,1980,1,CAL,AL,77500.0,96.736709,2.53
13,Don Aase,26.0,110003.0,aasedo01,1981,1,CAL,AL,NaN,155.847059,2.24
14,Don Aase,27.0,110003.0,aasedo01,1982,1,CAL,AL,215000.0,117.605000,0.67
15,Don Aase,29.0,110003.0,aasedo01,1984,1,CAL,AL,NaN,249.928571,2.06
16,Don Aase,30.0,110003.0,aasedo01,1985,1,BAL,AL,525000.0,106.816216,0.24
17,Don Aase,31.0,110003.0,aasedo01,1986,1,BAL,AL,600000.0,139.907407,2.27
18,Don Aase,32.0,110003.0,aasedo01,1987,1,BAL,AL,625000.0,203.300000,0.38
19,Don Aase,33.0,110003.0,aasedo01,1988,1,BAL,AL,675000.0,97.004762,0.38
20,Don Aase,34.0,110003.0,aasedo01,1989,1,NYM,NL,400000.0,83.238461,-0.32
21,Don Aase,35.0,110003.0,aasedo01,1990,1,LAD,NL,300000.0,74.861905,-0.72
22,Fernando Abad,24.0,472551.0,abadfe01,2010,1,HOU,NL,NaN,141.633333,0.47
23,Fernando Abad,25.0,472551.0,abadfe01,2011,1,HOU,NL,418000.0,52.706250,-0.96
24,Fernando Abad,26.0,472551.0,abadfe01,2012,1,HOU,NL,485000.0,79.876923,-0.05
25,Fernando Abad,27.0,472551.0,abadfe01,2013,1,WSN,NL,NaN,114.092857,0.44
26,Fernando Abad,28.0,472551.0,abadfe01,2014,1,OAK,AL,525900.0,237.710000,1.79
27,Fernando Abad,29.0,472551.0,abadfe01,2015,1,OAK,AL,1087500.0,94.472727,0.16
28,Fernando Abad,30.0,472551.0,abadfe01,2016,2,BOS,AL,1250000.0,71.633333,-0.27
29,Fernando Abad,30.0,472551.0,abadfe01,2016,1,MIN,AL,NaN,160.660000,1.04
...,...,...,...,...,...,...,...,...,...,...,...
46608,Jordan Zimmermann,24.0,519455.0,zimmejo02,2010,1,WSN,NL,401000.0,82.552941,-0.18
46609,Jordan Zimmermann,25.0,519455.0,zimmejo02,2011,1,WSN,NL,415000.0,120.424561,2.66
46610,Jordan Zimmermann,26.0,519455.0,zimmejo02,2012,1,WSN,NL,2300000.0,135.825000,4.90
46611,Jordan Zimmermann,27.0,519455.0,zimmejo02,2013,1,WSN,NL,5350000.0,116.455844,3.73
46612,Jordan Zimmermann,28.0,519455.0,zimmejo02,2014,1,WSN,NL,7500000.0,140.767797,4.79
46613,Jordan Zimmermann,29.0,519455.0,zimmejo02,2015,1,WSN,NL,16500000.0,108.152439,3.05
46614,Jordan Zimmermann,30.0,519455.0,zimmejo02,2016,1,DET,AL,18000000.0,87.561403,0.39
46617,Charlie Zink,28.0,468402.0,zinkch01,2008,1,BOS,AL,NaN,29.912500,-0.28
46625,Barry Zito,22.0,217096.0,zitoba01,2000,1,OAK,AL,200000.0,172.539286,3.37
46626,Barry Zito,23.0,217096.0,zitoba01,2001,1,OAK,AL,240000.0,124.908434,4.51
46627,Barry Zito,24.0,217096.0,zitoba01,2002,1,OAK,AL,295000.0,157.955714,7.20
46628,Barry Zito,25.0,217096.0,zitoba01,2003,1,OAK,AL,1000000.0,134.627059,5.30
46629,Barry Zito,26.0,217096.0,zitoba01,2004,1,OAK,AL,3000000.0,101.617925,2.86
46630,Barry Zito,27.0,217096.0,zitoba01,2005,1,OAK,AL,5600000.0,113.079592,3.27
46631,Barry Zito,28.0,217096.0,zitoba01,2006,1,OAK,AL,7900000.0,115.834043,4.45
46632,Barry Zito,29.0,217096.0,zitoba01,2007,1,SFG,NL,10000000.0,99.078788,1.98
46633,Barry Zito,30.0,217096.0,zitoba01,2008,1,SFG,NL,14500000.0,85.240777,-0.13
46634,Barry Zito,31.0,217096.0,zitoba01,2009,1,SFG,NL,18500000.0,105.362791,2.51
46635,Barry Zito,32.0,217096.0,zitoba01,2010,1,SFG,NL,18500000.0,94.179348,1.13
46636,Barry Zito,33.0,217096.0,zitoba01,2011,1,SFG,NL,18500000.0,59.705714,-0.65
46637,Barry Zito,34.0,217096.0,zitoba01,2012,1,SFG,NL,19000000.0,84.931765,0.07
46638,Barry Zito,35.0,217096.0,zitoba01,2013,1,SFG,NL,20000000.0,60.145882,-2.49
46639,Barry Zito,37.0,217096.0,zitoba01,2015,1,OAK,AL,NaN,39.962500,-0.36
46664,Joel Zumaya,21.0,451491.0,zumayjo01,2006,1,DET,AL,327000.0,233.377778,3.19
46665,Joel Zumaya,22.0,451491.0,zumayjo01,2007,1,DET,AL,410000.0,107.681250,0.20
46666,Joel Zumaya,23.0,451491.0,zumayjo01,2008,1,DET,AL,420000.0,129.888889,0.06
46667,Joel Zumaya,24.0,451491.0,zumayjo01,2009,1,DET,AL,735000.0,92.352941,-0.09
46668,Joel Zumaya,25.0,451491.0,zumayjo01,2010,1,DET,AL,915000.0,163.509091,0.80
46679,Tony Zych,24.0,543964.0,zychto01,2015,1,SEA,AL,NaN,158.700000,0.42
46680,Tony Zych,25.0,543964.0,zychto01,2016,1,SEA,AL,511000.0,126.080000,0.12

In [10]:
CleanPitch_df.to_csv("Clean_Pitch.csv", index=False)